.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
  }

  .img_about {
    position: fixed;
    max-width: 300px;
    height: auto;
    z-index: 0;  /* -1 = background, 0 = foreground*/
  }



  input {
    padding: 5px;
    font-size: 16px;
  }

  button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }

p.overflow {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: scroll;
  }

  div.about {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: visible;
  }